body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:710px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:710px;
}
#u265 {
  position:absolute;
  left:2px;
  top:347px;
  width:1526px;
  word-wrap:break-word;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:710px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:710px;
}
#u267 {
  position:absolute;
  left:2px;
  top:347px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:47px;
}
#u271 {
  position:absolute;
  left:2px;
  top:16px;
  width:268px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u274 {
  position:absolute;
  left:0px;
  top:131px;
  width:272px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u275 {
  position:absolute;
  left:50px;
  top:14px;
  width:220px;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u276 {
  position:absolute;
  left:241px;
  top:145px;
  width:14px;
  height:10px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u277 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u278 {
  position:absolute;
  left:26px;
  top:144px;
  width:14px;
  height:10px;
}
#u279 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u281 {
  position:absolute;
  left:0px;
  top:169px;
  width:272px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u282 {
  position:absolute;
  left:50px;
  top:16px;
  width:220px;
  word-wrap:break-word;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u283 {
  position:absolute;
  left:241px;
  top:183px;
  width:14px;
  height:10px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u284 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u285 {
  position:absolute;
  left:26px;
  top:184px;
  width:14px;
  height:8px;
}
#u286 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u288 {
  position:absolute;
  left:0px;
  top:261px;
  width:272px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u289 {
  position:absolute;
  left:50px;
  top:16px;
  width:220px;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u290 {
  position:absolute;
  left:241px;
  top:276px;
  width:14px;
  height:10px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u291 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u292 {
  position:absolute;
  left:26px;
  top:276px;
  width:14px;
  height:10px;
}
#u293 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u295 {
  position:absolute;
  left:0px;
  top:300px;
  width:272px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u296 {
  position:absolute;
  left:50px;
  top:16px;
  width:220px;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u297 {
  position:absolute;
  left:241px;
  top:314px;
  width:14px;
  height:10px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u298 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u299 {
  position:absolute;
  left:26px;
  top:314px;
  width:14px;
  height:10px;
}
#u300 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u302 {
  position:absolute;
  left:0px;
  top:47px;
  width:272px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u303 {
  position:absolute;
  left:50px;
  top:14px;
  width:220px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u304 {
  position:absolute;
  left:241px;
  top:61px;
  width:14px;
  height:10px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u305 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u306 {
  position:absolute;
  left:26px;
  top:59px;
  width:14px;
  height:10px;
}
#u307 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u309 {
  position:absolute;
  left:272px;
  top:0px;
  width:1258px;
  height:45px;
}
#u310 {
  position:absolute;
  left:2px;
  top:14px;
  width:1254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u311 {
  position:absolute;
  left:1471px;
  top:13px;
  width:33px;
  height:33px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1890FF;
}
#u312 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u315 {
  position:absolute;
  left:271px;
  top:45px;
  width:1258px;
  height:38px;
}
#u316 {
  position:absolute;
  left:2px;
  top:11px;
  width:1254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1207px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318 {
  position:absolute;
  left:297px;
  top:191px;
  width:1207px;
  height:436px;
}
#u319 {
  position:absolute;
  left:2px;
  top:210px;
  width:1203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u322 {
  position:absolute;
  left:334px;
  top:590px;
  width:78px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u323 {
  position:absolute;
  left:16px;
  top:4px;
  width:46px;
  white-space:nowrap;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u324 {
  position:absolute;
  left:371px;
  top:571px;
  width:26px;
  height:18px;
  opacity:0;
  font-size:20px;
  color:#FFFFFF;
}
#u325 {
  position:absolute;
  left:2px;
  top:-3px;
  width:22px;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u326 {
  position:absolute;
  left:423px;
  top:590px;
  width:78px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u327 {
  position:absolute;
  left:16px;
  top:4px;
  width:46px;
  white-space:nowrap;
}
#u328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u329 {
  position:absolute;
  left:334px;
  top:368px;
  width:89px;
  height:30px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u332 {
  position:absolute;
  left:333px;
  top:210px;
  width:161px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u334 {
  position:absolute;
  left:297px;
  top:226px;
  width:37px;
  height:18px;
  opacity:0;
  font-size:20px;
  color:#FFFFFF;
}
#u335 {
  position:absolute;
  left:2px;
  top:-3px;
  width:33px;
  word-wrap:break-word;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u336 {
  position:absolute;
  left:403px;
  top:191px;
  width:26px;
  height:18px;
  opacity:0;
  font-size:20px;
  color:#FFFFFF;
}
#u337 {
  position:absolute;
  left:2px;
  top:-3px;
  width:22px;
  word-wrap:break-word;
}
#u338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u340 {
  position:absolute;
  left:334px;
  top:242px;
  width:109px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u341 {
  position:absolute;
  left:0px;
  top:5px;
  width:101px;
  white-space:nowrap;
}
#u342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u343 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u344 {
  position:absolute;
  left:945px;
  top:242px;
  width:109px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u345 {
  position:absolute;
  left:0px;
  top:5px;
  width:101px;
  white-space:nowrap;
}
#u346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u347 {
  position:absolute;
  left:945px;
  top:368px;
  width:89px;
  height:30px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u348 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u349 {
  position:absolute;
  left:334px;
  top:401px;
  width:558px;
  height:161px;
}
#u349_input {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:161px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u350 {
  position:absolute;
  left:334px;
  top:276px;
  width:558px;
  height:48px;
}
#u350_input {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u351 {
  position:absolute;
  left:945px;
  top:280px;
  width:558px;
  height:48px;
}
#u351_input {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u352 {
  position:absolute;
  left:945px;
  top:401px;
  width:558px;
  height:48px;
}
#u352_input {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
